.advantages {
  background-color: $white;
}

.advantages-container {
  text-align: center;


  @media (min-width: $tablet-width) {
    width: 520px;
    margin: 0 auto;
    padding-bottom: 55px;
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.advantages__item--first {
  min-height: 211px;
  position: relative;


  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/icon-triangle-advantages.svg");
    height: 37px;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: 256px;
  }

}

.advantages__title--first {
  margin-top: 33px;


  @media (min-width: $tablet-width) {
    padding-top: 10px;

    &::before {
      display: none;
    }
  }
}

.advantages__item--img {
  height: 260px;

  @media (min-width: $tablet-width) {
    grid-column: 2/ 4;
  }
}

.advantages__item--img-second {

  @media (min-width: $tablet-width) {
    grid-column: 1/ 3;
  }
}



.advantages__item--color {
  background-color: #81B3D2;

}

.advantages__item--color .advantages__text {
  color: $white;
}

.advantages__item--color .advantages__title {
  color: $white;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    width: 150px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

}

.advantages__item--light {
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.advantages__item--light .advantages__title {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    width: 140px;
  }

}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 11px;
 margin-bottom: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 0;
  }
}

.advantages__title--big {
  padding: 33px 25px 35px 25px;
  margin: 0 auto;
  width: auto;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 500px;
    padding: 0 0 30px 0;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 40px 20px;
  margin: 0;
  width: auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 190px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }

}

.advantages__text--intro {
  padding: 0 35px 18px 35px;

  @media (min-width: $tablet-width) {
    width: 520px;
    padding: 0;
  }
}

.advanatages__text--light {
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 24px;
  width: 250px;

  @media (min-width: $tablet-width) {
    border: none;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.advantages__number {
  padding-bottom: 20px;
}

.advantages__title--secondary {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 65px;
  padding-top: 30px;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 155px;
    padding-left: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 165px;
    margin: 0 auto;
    width: inherit;
  }
}

.advantages__item--secondary {
  background-color: $white;
  max-width: 320px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__text--secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: left;
  color: #333333;
  padding-left: 65px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {

    padding: 22px 33px 60px 33px;
    text-align: center;
  }
}


.advantages__image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.advantages__icon {
  position: absolute;
  top: 24px;
  left: 18px;
  width: 40px;
  height: 38px;

  @media (min-width: $tablet-width) {
    left: 35%;
    top: 60px;
    width: 77px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
  }
}

.advantages__icon--burger {
  @media (min-width: $tablet-width) {

    width: 80px;
    height: 68px;
  }
}

.advantages__icon--gift {
  @media (min-width: $tablet-width) {

    width: 67px;
    height: 75px;
  }
}
