.button {
  background-color: #81B3D2;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 16px 0;
  margin: 0 auto;
  border: none;
  width: 284px;

  &:hover {
    cursor: pointer;
    background-color: #669EC0;
  }

  &:active {
    color: #FFFFFF4D;
    background-color: #5496BD;
  }

  &:disabled {
    background-color:
      #E5E5E5;
  }

}
