.control-mark {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #E5E5E5;
  }


  &:disabled {
    background-color: #D5D5D5;
  }
}

.control-mark--checkbox {
  border-radius: 4px;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  background-image: url(/img/tick.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: inherit;
  top: 12px;
  left: 15px;
  width: 22px;
  height: 16px;
  content: "";
}
