.hero {
  height: 518px;
  text-align: center;

  background-image: url(/img/hero-triangle.svg), url(/img/hero-main.jpg);
  background-position: center bottom, center;
  background-size: 100% cover;
  background-repeat: no-repeat, no-repeat;
  background-color: #756157;

  color: $white;
}


.hero__logo {
  margin-top: 70px;
}


.hero-inner {
  height: 320px;
  text-align: center;
  background-image: url(/img/hero-triangle.svg), url(/img/hero-main.jpg);
  background-position: center bottom, center bottom;
  background-size: 100% cover;
  background-repeat: no-repeat, no-repeat;
  background-color: #756157;
  color: $white;
}

.hero-inner__container {
  padding: 37px 20px 0 20px;
}
