.hero {
  height: 518px;

  background-image: url(/img/hero-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;

  color: $white;


&__logo {
  margin-top: 70px;




}
}
