.icon-like {
  cursor: pointer;

  @media (min-width: $desktop-width) {
    color: #ffffff;
    fill: #ffffff;
    opacity: 1;
  }
}

.icon-play-video {
  position: absolute;
  z-index: 2;
  top: 55%;
  left: 50%;
}

.icon-copyright {
  fill: #2E368F;

}
