.main-header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;


}

.main-header__logo {

  z-index: 1;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    order: 2;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-header {
    flex-direction: row;
    height: 56px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    order: 2;

  }

  .main-nav__toggle {
    display: none;
  }

  .main-header {
    flex-direction: row;
    height: 56px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  background-color: #81B3D2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;


  @media (min-width: $tablet-width) {
    background-color: $white;

  }

  @media (min-width: $desktop-width) {
    background-color: $white;

  }

}


.site-list__item-link {
  text-decoration: none;
  color: $white;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 17px 12px 17px;

  @media (min-width: $tablet-width) {
    color: $black;

  }

  @media (min-width: $desktop-width) {
    color: $black;

  }

}
