.main-footer {
  background-color: #ffffff;
  padding: 29px;
  margin-top: auto;
}



.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.copyright__text {
  text-transform: uppercase;

}
