.main-footer {
  background-color: $white ;

  margin-top: auto;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 648px;
      margin: 76px 60px 36px;
      justify-content: space-between;

    }

    @media (min-width: $tablet-width) {
      margin-top: 120px;
      width: 980px;
    }
  }


}