.main-footer {
  background-color: $white ;
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0 auto;
  padding-top: 15px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 36px 45px 36px 45px;
    margin: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
    width: 980px;
  }
}
