.modal-container {
    width: 320px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
        width: 400px;
    }
}


.modal-container__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 40px;
    }
}


.modal-container--error {
    width: 237px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        width: 307px;
    }
}

.modal-container--success {
    background-color: #F2F2F2;
    width: 320px;

    @media (min-width: $tablet-width) {
        width: 640px;
    }
}

