.name__item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 5px;

    @media (min-width: $tablet-width) {
        width: 280px;
        padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
        padding-right: 63px;
        padding-left: 50px;
    }
}

.name__item .review-form__input-field {
    @media (min-width: $desktop-width) {
        width: 430px;
    }
}
