.site-list__item {
  background-color: #81B3D2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;


}

.site-list__item-link {
  text-decoration: none;

  color: #ffffff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 12px;

}
