.page__container {
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px #00000033;
  max-width: 1200px;
  // padding-left: 18px;
  // padding-right: 18px;
}

.main-container {
  margin: 0 auto;
}

// .main-container--form {

//   // @media (min-width: $tablet-width) {
//   //   padding-left: 60px;
//   //   padding-right: 60px;

//   // }

//   // @media (min-width: $desktop-width) {
//   //   padding-left: 120px;
//   //   padding-right: 120px;

//   // }

// }
