.photo {
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.photo__container {
  padding: 25px 20px;
  font-size: 14px;
  line-height: 21px;
  background-color: $white;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  @media (min-width: $tablet-width) {
    background-color: #EAEAEA;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

}

.photo__container--first {
  @media (min-width: $tablet-width) {
    grid-column: 1 /3;

  }

  @media (min-width: $desktop-width) {
    grid-column: 1 /4;
  }
}

.photo--first {

  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: cover;
  }
}

.photo__img {

  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: cover;
  }
}

.photo__figcaption {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 1;
    color: $white;
    background-color: #0000004d;
    width: inherit;
  }
}

.photo__figcaption-container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.photo__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 15px;
}

.photo__author {
  margin: 0;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 0;
  }
}

.photo__likes {
  font-weight: 700;
}

.photo__img {
  max-width: 100%;
  object-fit: cover;
}


.icon-like {

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}
