.photo-section__wrapper {
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__container {
  font-size: 14px;
  line-height: 21px;
  background-color: $white;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }

}

.photo__container--first {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;

  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.photo__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 15px;
}

.photo__author {
  margin: 0;
  padding-bottom: 16px;
}

.photo__likes {
  font-weight: 700;
}
