.photo__container {
  padding: 25px 20px;
  font-size: 14px;
  line-height: 21px;
  background-color: $white;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;



&__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 15px;
}

&__author {
  margin: 0;
  padding-bottom: 16px;
}

&__likes {
  font-weight: 700;

}
}
