.review-form {
  background-color: #ffffff;

}

.review-form__container {
  border: none;

}

.review-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  border-top: 1px solid #E5E5E5;
}

.review-form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-form__input-field {
  background-color: #f2f2f2;
  padding: 16px 20px;
  font-size: 18px;
  line-height: 26px;


}

.review-form__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
padding-top: 16px;
padding-left: 20px;
}

.review-form__item-control {
  font-weight: 700;
font-size: 18px;
line-height: 26px;

}
