.main-form__text {
  width: 300px;

  @media (min-width: $tablet-width) {
    width: 435px;
  }
}




.review-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {

    padding: 0 60px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 280px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      padding: 0 60px;
    }
  }

  &__name {
    width: 280px;

    @media (min-width: $desktop-width) {
      width: 430px;
      border-right: 1px solid #DBDBDB;
    }
  }


 &__container {
  border: none;
 }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 24px;
    border-top: 1px solid #E5E5E5;

    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-bottom: 16px;
  }

  &__input-field {
    background-color: #f2f2f2;
    padding: 16px 20px;
    font-size: 18px;
    line-height: 26px;
  }

  &__input-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding-top: 16px;
    padding-left: 20px;
  }

  &__item-control {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

  }


  &__emotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 48px;
  }

&__emotions-field {

  

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }


}

}


