.review-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.review-form__info {

  @media (min-width: $tablet-width) {

    padding-top: 64px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.review-form__container {
  border: none;
  position: relative;



}

.review-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 16px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    border-top: none;
    width: 308px;
    font-size: 21px;
    line-height: 26px;
    
  }
}

.review-form__title--name {

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #E5E5E5;
    bottom: -20px;
    left: 25px;
  }
}

.review-form__list {
  list-style-type: none;
  padding: 0 0 25px 0;
  margin: 0;
}

.review-form__item {
  padding-bottom: 16px;
}

.review-form__item-control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.review-form__input-field {
  background-color: #f2f2f2;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  outline: 4px solid transparent;
  border: none;
  width: 240px;

  &:hover {
    background-color: #E5E5E5;

  }

  &:active {
    background-color: #FFFFFF;
    outline: 4px solid #E5E5E5;
  }
}

.review-form__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding-left: 15px;
}

.review-form__item-control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review-form__emotions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 48px;

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }
}

.review-form__emotions-field {

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.review-form__title--border {

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 320px;
  //   height: 1px;
  //   background-color: #E5E5E5;
  //   top: 10px;
  //   left: 25px;
  // }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      top: 35px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #DBDBDB;
      content: "";
    }

    &::after {
      position: absolute;
      top: 35px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: #DBDBDB;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      top: 35px;
      left: 0;
      width: 280px;
      height: 1px;
      background-color: #DBDBDB;
      content: "";
    }

    &::after {
      position: absolute;
      top: 35px;
      right: 0;
      width: 280px;
      height: 1px;
      background-color: #DBDBDB;
      content: "";
    }
  }
}

.review-form__footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 648px;
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

}

.review-form__footer-button {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.review-form__obligatory {
  display: block;
  text-transform: uppercase;
}