.section {
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: $white;

}

.section__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}


.section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px;
  margin: 0;
}

