.social__list {
  list-style-type: none;
  margin: 0;
  padding: 33px 0 0 0;
  display: flex;
  flex-direction: row;

}

.social__item {
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
  margin-right: 6px;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;
  }
}

.social__logo {
  padding: 15px;
}
